.my-decks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  row-gap: 2rem;
  min-height: 80vh;
  background-color: var(--main-bg-color);
}

.deck-items {
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  background-color: var(--alt-bg-color);
}

th:first-child {
  width: 25rem;
  text-align: start;
}

th,
td {
  padding: 1rem 2rem;
  text-align: start;
}

tbody tr {
  border-bottom: 1px solid var(--box-border-color);
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover .fa-trash {
  color: var(--accent-color);
}

.list-deck-title > a {
  width: 100%;
}

.list-deck-title a:hover {
  color: var(--accent-color);
  cursor: pointer;
}

@media (max-width: 600px) {
  .non-mobile {
    display: none;
  }
}
