.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.logo img {
  width: 50px;
}

.creation-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-text,
.input-data {
  display: inline-block;
  padding: 7px 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.cbutton {
  margin-top: 50px;
  display: center;
  padding: 7px 100px;
  background: greenyellow;
}

.input-data1 {
  padding: 10px 50px;
}

.outside-div div {
  margin-top: 40px;
}
