.deck-thumbnail {
  background-color: var(--alt-bg-color);
  border: 1px solid var(--box-border-color);
  border-radius: 0.5rem;
  height: 16rem;
  min-width: 21rem;
  width: 30%;
  max-width: 34rem;
  background-image: var(--background-img);
  background-position: 50% 15%;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 2rem 0 5rem 3rem var(--box-shadow-color) inset;
  display: flex;
  padding: 1rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.deck-thumbnail * {
  color: var(--light-font-color);
}

.deck-thumbnail:hover {
  background-size: 105%;
  border-color: var(--accent-color);
  box-shadow: 2rem 0 5rem 3.7rem var(--box-shadow-color) inset;
}

.deck-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

.thumb-deck-name {
  font-weight: 700;
}

.thumb-deck-info {
  font-size: small;
  font-style: italic;
}
