.deck-area {
  background-color: var(--main-bg-color);
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  align-content: flex-start;
  padding: 2rem;
  text-align: center;
}

.deck-area > div {
  border: 1px solid var(--box-border-color);
  height: 10rem;
  width: 30%;
}
