.sign-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  row-gap: 2rem;
  height: 77vh;
}

.sign-logo-img {
  width: 15rem;
}

.sign-page form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
