@import url("https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --main-bg-color: #181818;
  --alt-bg-color: #383838;
  --main-font-color: white;
  --form-font-color: black;
  --accent-color: orange;
  --font-hover-color: var(--accent-color);
}

* {
  font-family: "Nobile", sans-serif;
  color: var(--main-font-color);
}

body {
  background-color: var(--main-bg-color);
}

input,
select,
option,
textarea,
button {
  color: var(--form-font-color);
  caret-color: var(--accent-color);
}

a:hover,
a > div:hover {
  color: var(--font-hover-color);
}
