@import url("https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nobile", sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(29, 25, 22);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

input,
select,
option,
textarea,
button {
  color: black;
}
